body {
  margin: 0;
  background: rgb(33, 34, 44);
}

section {
  display: flex;
  flex-flow: column;
}

.box {
  height: 100vh;
  position: relative;
}

.box .anima-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: white;
  text-align: center;
  line-height: 30px;
  font-size: 2em;
  font-weight: bold;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border: 1px solid white;
  border-radius: 100%;
  animation: circle-scale 5s .4s infinite ease;
}

.anima2 .circle {
  animation: circle-scale2 5s .4s infinite ease;
}

.anima3 .atom {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.561);
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border-radius: 100%;
}

.anima3 .circle {
  width: 300px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  border: 2px solid white;
}

.anima3 .circle:nth-child(even) {
  animation: circle-rotate 1.6s infinite linear;
}

.anima3 .circle:nth-child(odd) {
  animation: circle-rotate-2 1.6s infinite linear;
}

.anima4 .circle {
  width: 300px;
  height: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  border: 1px solid white;
  animation: circle-rotate-3 6s infinite linear;
}

@keyframes circle-rotate-3 {
  0% {}

  50% {
    transform: rotateX(360deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

@keyframes circle-rotate {
  from {}

  to {
    transform: rotateY(180deg) rotateX(180deg);
  }
}

@keyframes circle-rotate-2 {
  from {}

  to {
    transform: rotateX(180deg) rotateY(-180deg);
  }
}

@keyframes circle-scale {

  0%,
  100% {
    width: 4px;
    height: 4px;
  }

  50% {
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
  }
}

@keyframes circle-scale2 {

  0%,
  100% {
    width: 4px;
    height: 4px;
  }

  50% {
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
    transform: rotateY(180deg) rotateX(180deg);
  }
}