body {
  margin: 0;
  background: rgb(33, 34, 44);
}

section {
  display: flex;
  flex-flow: column;
}

.box {
  height: 100vh;
  position: relative;
}

.box .anima-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: white;
  text-align: center;
  line-height: 30px;
  font-size: 2em;
  font-weight: bold;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border: 1px solid white;
  border-radius: 100%;
  animation: circle-scale 5s .4s infinite ease;
}

.anima2 .circle {
  animation: circle-scale2 5s .4s infinite ease;
}

@keyframes circle-scale {

  0%,
  100% {
    width: 4px;
    height: 4px;
  }

  50% {
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
  }
}

@keyframes circle-scale2 {

  0%,
  100% {
    width: 4px;
    height: 4px;
  }

  50% {
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
    transform: rotateY(180deg) rotateX(180deg);
  }
}